<div class="absolute inset-0 flex min-w-0 flex-col overflow-y-auto" cdkScrollable>
    <!-- Header -->
    <div class="dark relative flex-0 overflow-hidden bg-gray-800 px-4 py-8 sm:p-16">
        <!-- Background -->
        <!-- Rings -->
        <!-- prettier-ignore -->
        <svg class="absolute inset-0 pointer-events-none" viewBox="0 0 960 540" width="100%" height="100%"
            preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <div class="relative z-10 flex flex-col items-center">
            <h2 class="text-xl font-semibold">FUSE ACADEMY</h2>
            <div class="mt-1 text-center text-4xl font-extrabold leading-tight tracking-tight sm:text-7xl">
                What do you want to learn today?
            </div>
            <div class="text-secondary mt-6 max-w-2xl text-center tracking-tight sm:text-2xl">
                Our courses will step you through the process of a building
                small applications, or adding new features to existing
                applications.
            </div>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto p-6 sm:p-10">
        <div class="mx-auto flex w-full max-w-xs flex-auto flex-col sm:max-w-5xl">
            <!-- Filters -->
            <div class="flex w-full max-w-xs flex-col items-center justify-between sm:max-w-none sm:flex-row">
                <!-- <mat-form-field class="w-full sm:w-36" [subscriptSizing]="'dynamic'">
                    <mat-select [value]="'all'" (selectionChange)="filterByCategory($event)">
                        <mat-option [value]="'all'">All</mat-option>
                        @for (
                        category of categories;
                        track trackByFn($index, category)
                        ) {
                        <mat-option [value]="category.slug">{{
                            category.title
                            }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field> -->
                <mat-form-field class="mt-4 w-full sm:ml-4 sm:mt-0 sm:w-72" [subscriptSizing]="'dynamic'">
                    <mat-icon matPrefix class="icon-size-5" [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
                    <input (input)="filterByQuery(query.value)" placeholder="Search by title or description" matInput
                        #query />
                </mat-form-field>
                <mat-slide-toggle class="mt-8 sm:ml-auto sm:mt-0" [color]="'primary'" (change)="toggleInactive($event)">
                    Hide completed
                </mat-slide-toggle>
            </div>
            <!-- Clubs -->
            @if (this.filteredClubs.length) {
            <div class="mt-8 grid grid-cols-1 gap-8 sm:mt-10 sm:grid-cols-2 lg:grid-cols-3">
                @for (
                club of filteredClubs;
                track trackByFn($index, club)
                ) {
                <!-- Clubs -->
                <div class="bg-card flex h-72 flex-col overflow-hidden rounded-2xl shadow">
                    <div class="flex flex-col p-6">
                        <!-- Clubs title & description -->
                        <div class="mt-4 text-lg font-medium">
                            {{ club.name }}
                        </div>
                        <div class="text-secondary mt-0.5 line-clamp-2">
                            <!-- {{ club.description }} -->
                        </div>
                        <div class="my-6 h-1 w-12 border-t-2"></div>
                    </div>
                    <!-- Footer -->
                    <div class="mt-auto flex w-full flex-col">
                        <!-- Club navigation button -->
                        <div class="bg-gray-50 px-6 py-4 text-right dark:bg-transparent">
                            <a mat-stroked-button [routerLink]="['/', club.acronym]">
                                <span class="inline-flex items-center">
                                    <!-- Not started -->

                                    <span>{{ 'Open' | translate }}</span>

                                    <mat-icon class="ml-1.5 icon-size-5" [svgIcon]="
                                                    'heroicons_solid:arrow-small-right'"></mat-icon>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                }
            </div>
            } @else {
            <div class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                <mat-icon class="icon-size-24" [svgIcon]="'heroicons_outline:document-search'"></mat-icon>
                <div class="text-secondary mt-6 text-2xl font-semibold tracking-tight">
                    No clubs found!
                </div>
            </div>
            }

            <!-- No courses -->
        </div>
    </div>
</div>