<div class="absolute inset-0 flex min-w-0 flex-col overflow-hidden">
  <!-- Header -->
  <div class="bg-card flex flex-0 flex-col items-start space-x-4 border-b p-6 sm:flex-row sm:items-center sm:justify-between sm:px-10 sm:py-8 dark:bg-transparent">
    <!-- Title -->
    <div>
      <div class="text-4xl font-extrabold leading-none tracking-tight">{{ 'BankStatements' | translate }}</div>
      <!-- <div class="mt-1.5 text-lg text-secondary">{{ filteredBookingDays.length }}</div> -->
    </div>

    <app-file-upload
      fileTypes="camt.053"
      [uploadUrl]="uploadUrl">
    </app-file-upload>

    <!-- Filters -->
    <!-- <mat-form-field class="fuse-mat-no-subscript w-full ml-auto sm:w-72 mt-4 sm:mt-0 sm:ml-4" [floatLabel]="'always'"> -->
    <mat-icon
      matPrefix
      class="icon-size-5"
      svgIcon="heroicons_solid:magnifying-glass"></mat-icon>
    <input
      (input)="filterByQuery(query.value)"
      placeholder="{{ 'SearchByNameIbanMessage' | translate }}"
      matInput
      #query />
    <!-- </mat-form-field> -->
  </div>

  <!-- Main -->
  <div class="flex flex-col overflow-y-auto p-6 sm:p-8 sm:pt-4">
    <!-- Days -->
    @for (bookingDay of filteredBookingDays; track bookingDay) {
      <div class="bg-default rounded-xl p-2">
        <div class="ml-6 flex flex-row items-baseline gap-x-2">
          <div class="font-medium">{{ bookingDay.bookingDate | date: 'dd.MM.yy' }}</div>
          <div class="text-secondary leading-tight">{{ bookingDay.balanceAfter | number: '1.2-2' }}</div>
        </div>

        <!-- Bookings -->
        <div class="mt-2 flex flex-wrap gap-4 rounded-xl bg-gray-400 bg-opacity-12 p-3 dark:border dark:bg-transparent">
          <!-- Booking -->
          @for (booking of bookingDay.bookings; track booking) {
            <fuse-card class="flex w-80 flex-col rounded-xl p-4">
              @if (booking.typ === CreditDebit.CRDT) {
                <div class="flex flex-row items-baseline gap-x-2">
                  <div class="text-xl font-semibold leading-tight">{{ booking.amount | number: '1.2-2' }}</div>
                  <div class="text-secondary leading-tight">{{ 'PaymentFrom' | translate: { debitor: booking.debitorName ?? '?' } }}</div>
                </div>
              }
              @if (booking.typ === CreditDebit.DBIT) {
                <div class="flex flex-row items-baseline gap-x-2">
                  <div class="text-xl font-semibold leading-tight">{{ booking.amount | number: '1.2-2' }}</div>
                  <div class="text-secondary leading-tight">{{ 'PaymentTo' | translate: { creditor: booking.creditorName ?? '?' } }}</div>
                </div>
              }
              @if (booking.charges) {
                <div class="flex flex-row items-baseline gap-x-2">
                  <div class="text-xl font-semibold leading-tight">{{ booking.charges | number: '1.2-2' }}</div>
                  <div class="text-secondary leading-tight">Fremdspesen</div>
                </div>
              }
              @if (booking.message) {
                <div class="m-2 -mx-1 rounded-lg border-2 bg-gray-100 p-2">
                  <span class="leading-none">{{ booking.message }}</span>
                </div>
              }
            </fuse-card>
          }
        </div>
      </div>
    }
  </div>
</div>
