<div
  class="flex w-full items-center justify-center"
  (dragenter)="onDragEnter($event)"
  (dragover)="onDragOver($event)"
  (dragleave)="isDragging = false"
  (drop)="onFileDropped($event)">
  <label
    for="dropzone-file"
    class="dark:hover:bg-bray-800 flex min-h-8 w-full cursor-pointer flex-col items-center justify-center rounded-lg border-2 border-dashed border-gray-300 bg-gray-50 p-2 hover:bg-gray-100 dark:border-gray-600 dark:bg-gray-700 dark:hover:border-gray-500 dark:hover:bg-gray-600"
    [ngClass]="{ 'bg-gray-300': isDragging }">
    <div class="flex flex-row place-items-center justify-center py-1">
      <mat-icon
        svgIcon="mat_outline:upload_file"
        class="icon-size-8"></mat-icon>
      <div class="ml-2 flex flex-col items-center justify-center py-1">
        <p class="mb-2 text-sm text-gray-500 dark:text-gray-400">
          <span class="font-semibold">{{ 'ClickToUpload' | translate }}</span
          >&nbsp;{{ 'OrDragDrop' | translate }}
        </p>
        @if (info) {
          <p class="text-xs text-gray-500 dark:text-gray-400">{{ info }}</p>
        }
        @if (lastError) {
          <p class="text-xs text-red-500">{{ lastError }}</p>
        }
      </div>
    </div>
    <input
      id="dropzone-file"
      type="file"
      class="hidden"
      (change)="fileSelected($event)" />
  </label>
</div>
