<div class="bg-card relative flex w-full flex-auto dark:bg-transparent">
  <mat-drawer-container
    class="h-full flex-auto"
    [hasBackdrop]="false">
    <!-- Drawer -->
    <mat-drawer
      class="w-full sm:w-100 lg:border-r lg:shadow-none dark:bg-gray-900"
      [autoFocus]="false"
      #drawer>
      <!-- Profile -->
      <!-- <ng-container *ngIf="drawerComponent === 'profile'">
                <chat-profile [drawer]="drawer"></chat-profile>
            </ng-container> -->
    </mat-drawer>

    <!-- Drawer content -->
    <mat-drawer-content class="flex overflow-hidden">
      <!-- Bookings list -->
      <div class="bg-card relative flex w-full min-w-0 flex-auto flex-col lg:min-w-100 lg:max-w-100 dark:bg-transparent">
        <!-- Header -->
        <div class="flex flex-0 flex-col border-b bg-gray-50 px-8 py-4 dark:bg-transparent">
          <!-- <div class="flex items-center">
                        <button class="ml-auto" mat-icon-button (click)="openNewChat()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus-circle'"></mat-icon>
                        </button>
                    </div> -->
          <!-- Search -->
          <div class="mt-4 space-x-4">
            <mat-form-field
              class="fuse-mat-no-subscript fuse-mat-rounded fuse-mat-dense w-full"
              [floatLabel]="'always'">
              <mat-icon
                matPrefix
                class="icon-size-5"
                svgIcon="heroicons_solid:magnifying-glass"></mat-icon>
              <input
                matInput
                [autocomplete]="'off'"
                placeholder="{{ 'SearchByNameIbanMessage' | translate }}"
                (input)="filterByQuery(searchField.value)"
                #searchField />
            </mat-form-field>

            <h2 class="my-2">{{ 'Hide' | translate }}:</h2>
            <!-- <div class="flex flex-col"> -->
            <mat-checkbox
              class="mt-8 text-left sm:ml-auto sm:mt-0"
              [color]="'primary'"
              [checked]="filters.hideIncoming$.value"
              (change)="toggleIncoming($event)">
              {{ 'Deposits' | translate }}
            </mat-checkbox>

            <mat-checkbox
              class="mt-8 sm:ml-auto sm:mt-0"
              [color]="'primary'"
              [checked]="filters.hideOutgoing$.value"
              (change)="toggleOutgoing($event)">
              {{ 'Payouts' | translate }}
            </mat-checkbox>

            <mat-checkbox
              class="mt-8 sm:ml-auto sm:mt-0"
              [color]="'primary'"
              [checked]="filters.hideSettled$.value"
              (change)="toggleSettled($event)">
              {{ 'Settled' | translate }}
            </mat-checkbox>

            <mat-checkbox
              class="mt-8 sm:ml-auto sm:mt-0"
              [color]="'primary'"
              [checked]="filters.hideIgnored$.value"
              (change)="toggleIgnored($event)">
              {{ 'Ignored' | translate }}
            </mat-checkbox>
            <!-- </div> -->
          </div>
        </div>

        <!-- Bookings -->
        <div class="flex-auto overflow-y-auto">
          @if (daysWithBookings.length > 0) {
            @for (dayWithBookings of daysWithBookings; track dayWithBookings) {
              <div class="z-20 -mx-6 my-3 flex items-center justify-center">
                <div class="flex-auto border-b"></div>
                <div class="text-secondary mx-4 flex-0 text-sm font-medium leading-5">
                  {{ dayWithBookings.bookingDate | date: 'longDate' }}
                </div>
                <div class="flex-auto border-b"></div>
              </div>
              @for (booking of dayWithBookings.bookings; track booking) {
                <div
                  class="z-20 flex cursor-pointer items-center border-b border-t px-4 py-5"
                  [ngClass]="{
                    'dark:hover:bg-hover hover:bg-gray-100': !selectedBooking || selectedBooking.id !== booking.id,
                    'bg-primary-50 dark:bg-hover': selectedBooking && selectedBooking.id === booking.id,
                  }"
                  (click)="selectBooking(booking)">
                  <div class="flex flex-col pl-2">
                    <!-- <div class="relative flex flex-0 items-center justify-center w-10 h-10">
                                        <ng-container *ngIf="booking.unreadCount > 0">
                                            <div class="absolute bottom-0 right-0 flex-0 w-2 h-2 -ml-0.5 rounded-full ring-2 ring-bg-card dark:ring-gray-900 bg-primary dark:bg-primary-500 text-on-primary"
                                                [class.ring-primary-50]="selectedBooking && selectedBooking.id === booking.id"></div>
                                        </ng-container>
                                        <ng-container *ngIf="booking.contact.avatar">
                                            <img class="w-full h-full rounded-full object-cover" [src]="booking.contact.avatar" alt="Contact avatar" />
                                        </ng-container>
                                        <ng-container *ngIf="!booking.contact.avatar">
                                            <div class="flex items-center justify-center w-full h-full rounded-full text-lg uppercase bg-gray-200 text-gray-600 dark:bg-gray-700 dark:text-gray-200">
                                                {{booking.contact.name.charAt(0)}}
                                            </div>
                                        </ng-container>
                                    </div> -->

                    <div class="min-w-0">
                      <div class="flex flex-row">
                        <div class="truncate font-medium leading-5">{{ booking.amount | number: '1.2-2' }}</div>
                        @if (!!booking.charges) {
                          <div class="text-secondary ml-2 truncate leading-5">+{{ booking.charges | number: '1.2-2' }}</div>
                        }
                      </div>
                      <div
                        class="text-secondary truncate leading-5"
                        [class.text-primary]="!booking.settled"
                        [class.dark:text-primary-500]="booking.settled">
                        @if (booking.typ === CreditDebit.CRDT) {
                          <div>{{ 'PaymentFrom' | translate: { debitor: booking.debitorName ?? '?' } }}</div>
                        }
                        @if (booking.typ === CreditDebit.DBIT) {
                          <div>{{ 'PaymentTo' | translate: { creditor: booking.creditorName ?? '?' } }}</div>
                        }
                      </div>
                    </div>
                    @if (selectedBooking && selectedBooking.id === booking.id && booking.message) {
                      <div class="m-2 -mx-1 rounded-lg border-2 bg-gray-100 p-2">
                        <span class="leading-none">{{ booking.message }}</span>
                      </div>
                    }
                  </div>

                  <!-- Ignored -->
                  <div class="ml-auto flex flex-col items-center pl-2">
                    @if (booking.ignore) {
                      <mat-icon
                        class="text-hint icon-size-5"
                        [svgIcon]="'heroicons_solid:eye-slash'"></mat-icon>
                    }
                  </div>
                </div>
              }
            }
          } @else {
            <div class="flex h-full flex-auto flex-col items-center justify-center">
              <mat-icon
                class="icon-size-24"
                [svgIcon]="'heroicons_outline:currency-dollar'"></mat-icon>
              <div class="text-secondary mt-4 text-2xl font-semibold tracking-tight">Keine Kontobewegungen</div>
            </div>
          }
        </div>
      </div>

      <!-- No payments template -->

      <!-- candidates for settlement -->
      @if (daysWithBookings && daysWithBookings.length > 0) {
        <div
          class="flex-auto border-l"
          [ngClass]="{ 'absolute inset-0 z-20 flex lg:static lg:inset-auto': selectedBooking && selectedBooking.id, 'hidden lg:flex': !selectedBooking || !selectedBooking.id }">
          <router-outlet></router-outlet>
        </div>
      }
    </mat-drawer-content>
  </mat-drawer-container>
</div>
