@if(stats$ |async; as stats)
{
<div class="bg-card flex flex-auto flex-col rounded-2xl shadow">
    <div class="flex flex-col p-6 pb-4">
        <div class="flex items-center justify-between">
            <div class="flex flex-col">
                <div class="mr-4 truncate text-lg font-medium leading-6 tracking-tight">
                    {{ 'History' | translate }}
                </div>
                <!-- <div class="text-secondary font-medium">
                    {{ 'Total' | translate }}
                </div> -->
            </div>
            <!-- <div class="ml-2">
                <button class="bg-hover h-6 min-h-6 rounded-full px-2" mat-button [matMenuTriggerFor]="accountBalanceMenu">
                    <span class="text-secondary text-sm font-medium">12 months</span>
                </button>
                <mat-menu #accountBalanceMenu="matMenu">
                    <button mat-menu-item>3 months</button>
                    <button mat-menu-item>6 months</button>
                    <button mat-menu-item>9 months</button>
                    <button mat-menu-item>12 months</button>
                </mat-menu>
            </div> -->
        </div>
        <div class="mr-2 flex items-start">
            <div class="flex flex-col">
                <div class="text-3xl font-semibold tracking-tighter md:text-5xl">
                    {{ stats.currentTotal }}
                </div>
                <div class="text-secondary text-sm font-medium leading-none">
                    {{ 'Total' | translate }}
                </div>
            </div>
            @for (count of currentCounts; track $index)
            {
            <div class="ml-8 flex flex-col md:ml-16">
                <div class="text-3xl font-semibold tracking-tighter md:text-5xl">
                    {{ count.count }}
                </div>
                <div class="text-secondary text-sm font-medium leading-none">
                    {{ count.name }}
                </div>
            </div>
            }
        </div>
    </div>
    <div class="flex flex-auto flex-col">
        <apx-chart class="h-36 w-full flex-auto" [chart]="accountBalanceOptions.chart" [colors]="accountBalanceOptions.colors" [fill]="accountBalanceOptions.fill"
            [series]="accountBalanceOptions.series" [stroke]="accountBalanceOptions.stroke" [tooltip]="accountBalanceOptions.tooltip" [xaxis]="accountBalanceOptions.xaxis"></apx-chart>
    </div>
</div>
}